{% extends 'base.html.twig' %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block hero %}{% endblock %}
{% block body %}
	<div class="">


		<h1>Inscription</h1>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.userName) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
		{#  {{ form_row(registrationForm.agreeTerms) }}#}

		<br><button type="submit" class="btn btn-primary">S'enregistrer</button>
		{{ form_end(registrationForm) }}
		<hr>
		<h3>
			Important :
			<br>Un mail de vérification de votre adresse va vous être envoyé contenant un le lien.
			<br>Cliquez sur ce lien pour valider votre inscription.</h3>
	</div>
{% endblock %}
