{% extends "base.html.twig" %}
{% block hero %}{% endblock %}
{% block title %}
	Ajouter une Figure
{% endblock %}
{% block body %}
	<div class="">
		{% if editMode %}
			<h1>Modifier la figure</h1>
		{% else %}
			<h1>Créez votre figure</h1>
		{% endif %}
	</div>
	{{ form_start(form) }}
	{{ form_row(form.title) }}
	{{ form_row(form.description) }}
	{{ form_row(form.category) }}
	{{ form_row(form.video) }}
	{% if editMode %}
		{{ form_row(form.media, {'required': false}) }}
	{% else %}
		{{ form_row(form.media) }}
	{% endif %}
	<br><button type="submit" class="btn btn-primary">
		{% if editMode %}
			Modifier la figure
		{% else %}
			Enregistrer la figure
		{% endif %}
	</button>
	<a class="btn btn-secondary" href="{{ path('app_home') }}">Annuler</a>

	{{ form_end(form) }}
</div></div>{% endblock %}{% block preview %}{% endblock %}
